@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  font-family: 'Inter', sans-serif;
  background-color: #f0f4f8;
}

.font-handwriting {
  font-family: 'Pacifico', cursive;
}
